#!/usr/bin/env python
PACKAGE = "your_package_name" # <--- REPLACE THIS with your actual package name

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Note: dynamic_reconfigure doesn't support scientific notation in the GUI display, 
# but the values work fine.

# --------------------------------------------------------------------------------
# 1. Bias Adjustment
# --------------------------------------------------------------------------------
gen.add("camera_z_bias", double_t, 0, "Camera Z offset adjustment", 0.005, -0.5, 0.5)

# --------------------------------------------------------------------------------
# 2. Process Noise (Q)
#    Updates Q_proc_diag. We group X,Y,Z together for easier tuning.
# --------------------------------------------------------------------------------
grp_q = gen.add_group("Process_Noise_Q")
grp_q.add("Q_pos",     double_t, 0, "Position Process Noise (xyz)",    1e-4, 0.0, 0.1)
grp_q.add("Q_att",     double_t, 0, "Attitude Process Noise (rpy)",    1e-5, 0.0, 0.1)
grp_q.add("Q_vel",     double_t, 0, "Velocity Process Noise (xyz)",    1e-3, 0.0, 0.1)
grp_q.add("Q_ang_vel", double_t, 0, "Angular Vel Process Noise (xyz)", 1e-3, 0.0, 0.1)

# --------------------------------------------------------------------------------
# 3. Camera Measurement Noise (R_cam)
# --------------------------------------------------------------------------------
grp_r_cam = gen.add_group("Camera_Measurement_Noise_R")
grp_r_cam.add("R_cam_pos", double_t, 0, "Camera Position Noise", 1e-4, 0.0, 0.5)
grp_r_cam.add("R_cam_att", double_t, 0, "Camera Attitude Noise", 1e-4, 0.0, 0.5)

# --------------------------------------------------------------------------------
# 4. Box/SLAM Measurement Noise (R_box)
# --------------------------------------------------------------------------------
grp_r_box = gen.add_group("Box_Measurement_Noise_R")
grp_r_box.add("R_box_pos",     double_t, 0, "Box Position Noise",    1e-3, 0.0, 0.5)
grp_r_box.add("R_box_att",     double_t, 0, "Box Attitude Noise",    1e-3, 0.0, 0.5)
grp_r_box.add("R_box_vel",     double_t, 0, "Box Velocity Noise",    1e-2, 0.0, 0.5)
grp_r_box.add("R_box_ang_vel", double_t, 0, "Box Angular Vel Noise", 1e-2, 0.0, 0.5)

# The last parameter is the prefix for the generated C++ header (e.g. EskfConfig.h)
exit(gen.generate(PACKAGE, "esfk_node", "Eskf"))
